* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
body{
    background-color: #1C1E53;
}

header{
    background-color: #8EE5F2;
    padding: 15px 124px;
}
.countainer{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
nav{
    align-items: center;
    display: flex;
    padding: 15px 20px;
}
.link__nav{
    margin: 10px;
    text-decoration: none;
}
a{
color: #72727F;
}
.white{
    color: #ffffff;
}
.countainer_bottom{
    margin-right: 10px;
}
.buttom{
    border: 2px solid rgba(105, 105, 105, 0.2);
    min-width: 155px;
    height: 59px;
    border-radius: 30px;
    text-decoration: none;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}    
.text_bottom{
    color: black;
    font-family: "Poppins", serif;
    font-weight: 500;
    font-style: normal;
}
